@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


h1 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 20px 0px;
}

h3 {
    font-size: 1.3em;
    margin: 20px 0;

}

#logo {
    width: 300px;
}

nav ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

#author {
    color: lightgrey;
    margin-bottom: 30px;
}

body {
    font-family: poppins, sans-serif;
    background-image: url(/assets/img/sfondo.png);
    background-position: center;
    font-size: 18px;
    line-height:1.7em;



}

table {
    border-bottom: 4px solid rgb(51, 102, 204);
    margin: 25px 0;
}

tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

caption {
    font-style: italic;
    font-weight: bold;
}

th {
    background-color: rgb(59, 112, 217);
    color: white;
    border: 1px solid white;
}

th,
td {
    padding: 20px;
    text-align: center;
}

#container {
    margin: 20px;
}

header {
    background: linear-gradient(180deg, rgba(0, 165, 190, 1) 1%, rgba(0, 104, 136, 1) 85%);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    box-shadow: 4px 4px 10px grey;
    margin-bottom: 20px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 4px 4px 10px grey;
}

footer {
    background-color: rgb(0, 104, 136);
}

iframe {
    border-radius: 20px;
    width: 100%;
    margin: 25px 0;
}

.box {
    padding: 20px;
    background-color: rgb(225, 230, 231);
    margin: 15px 0;
    border: 2.5px solid rgb(201, 207, 211);
    height: 100px;


}

.box a {
    font-weight: bold;
}

aside .box div {
    margin-bottom: 10px;

}

.date {
    margin-top: 15px;
    text-align: right;
}

#novita {
    background-color: rgb(225, 230, 231);
    padding: 15px;

}

#novita h4 {
    text-align: center;
    font-size: 1.6em;
    margin: 20px 0;
    font-weight: 600;
}

h2 {
    text-align: center;
    margin: 40px 0 25px 0;
    font-size: 1.6em;
    font-weight: bold;

}

form p {
    margin: 15px 0;
}

#email {
    height: 30px;
    width: 210px;
    border-bottom: 3px dotted black;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

}

#pulsante {
    width: 115px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(59, 112, 217);
    box-shadow: 4px 4px 10px grey;
    font-weight:bold;
}

#pulsante:hover {
    background-color: blue;
}

footer {
    color: white;
    padding: 25px;
    background: linear-gradient(180deg, rgba(8, 115, 140, 1) 1%, rgba(51, 59, 55, 1) 85%);
    box-shadow: 4px 4px 10px grey;
}

footer h6 {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    color: rgb(255, 0, 250);
    font-weight: bold;
}

ul span {
    background-color: rgb(224, 225, 226);
    border-radius: 5px;
    border: 2px solid rgb(163, 163, 163);
}

main ul {
    list-style:disc;
    display: block;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
}

main ul li {
    display:list-item;
}

#second-section span {
    text-decoration: underline;
    font-weight: bold;
    color:rgb(81,173,219);
}

#first-to-do {
    font-weight: bold;
    color:rgb(170,32,114);
}

#selection-with-css  {
    font-weight: bold;
    color:rgb(170,32,114);
}